@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Avenir", sans serif;
  font-weight: 800;
}

@font-face {
  font-family: "Avenir";
  font-weight: 800;
  src: local("Avenir"),
    url("./../../public/fonts/Avenir-Heavy.ttf") format("truetype");
}

@font-face {
  font-family: "Avenir";
  font-weight: 400;
  src: local("Avenir"),
    url("./../../public/fonts/Avenir-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Avenir";
  font-weight: 500;
  src: local("Avenir"),
    url("./../../public/fonts/Avenir-Medium.ttf") format("truetype");
}

.slick-dots {
  bottom: 20px !important;
}
.slick-dots li.slick-active button:before {
  color: #ed801b !important;
  font-size: 8px !important;
}
.slick-dots li button:before {
  color: #fff !important;
  font-size: 8px !important;
}
.slick-dots li {
  margin: 0 !important;
}
.slick-next {
  top: 85% !important;
  right: 20px !important;
}
.slick-prev {
  top: 85% !important;
  left: unset !important;
  right: 85px !important;
}

.slick-arrow {
  width: 40px !important;
  height: 40px !important;
}
.slick-next:before {
  content: "" !important;
}

.slick-prev:before {
  content: "" !important;
}
.sidebar {
  transform: translateX(-100%);
  transition: transform 500ms cubic-bezier(1, 0.01, 0.345, 1.005);
}
#menu:checked + .sidebar {
  transform: translateX(0);
}

li.navbar-dropdown {
  position: relative;
}

li.navbar-dropdown:hover .dropdown {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}

li.navbar-dropdown .dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding: 20px 0;
  top: 100%;
  transform: translateY(50px);
  left: 0;
  width: 250px;
  background-color: #fff;
  box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  z-index: 111;
  transition: 0.4s all;
}
li.navbar-dropdown .dropdown a {
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 400;
}
.navbar-dropdown .dropdown a:hover {
  padding-left: 30px;
}
#partners .slick-track {
  display: flex;
  align-items: center;
}

.projects .slick-prev {
  left: -100px !important;
}

.projects .slick-next {
  right: -100px !important;
}

.projects .slick-arrow {
  filter: invert(1);
}

#partners .slick-prev {
  left: -100px !important;
  border-color: #231f20 !important;
}
#partners .slick-prev img,
#partners .slick-next {
  filter: contrast(0.1) !important;
}

#partners .slick-next {
  right: -100px !important;
  border-color: #231f20 !important;
}

@media (min-width: 641px) {
  .slick-arrow {
    width: 55px !important;
    height: 55px !important;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  .slick-arrow {
    width: 75px !important;
    height: 75px !important;
  }
}

@media (min-width: 768px) {
  .slick-arrow {
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
  }
  .slick-next {
    top: 50% !important;
    right: 20px !important;
  }
  .slick-prev {
    top: 50% !important;
    left: 20px !important;
  }
}

@media (min-width: 1920px) {
  .slick-arrow {
    width: 78px !important;
    height: 78px !important;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
  }
  .slick-next {
    top: 55% !important;
    right: 57px !important;
  }
  .slick-prev {
    top: 55% !important;
    left: 57px !important;
  }
}

.swiper {
  width: 100%;
  height: 840px;
}
